{{#if updateQuestionForm}}
  <h4>Update {{question.asker}}'s question...</h4>
  <div>
    <form>
      <div class="form-group">
        <label for="asker">Asker</label>
        {{input value=asker id="asker" placeholder=question.asker}}
      </div>

      <div class="form-group">
        <label for="subject">Subject</label>
        {{input value=subject id="subject" placeholder=question.subject}}
      </div>

      <div class="form-group">
        <label for="inquiry">Question</label>
        {{textarea value=inquiry id="inquiry" placeholder=question.inquiry}}
      </div>
      <button {{action 'update' question}}>Save</button>
    </form>
  </div>
{{else}}
  <button {{action 'updateQuestionForm'}}>Update</button>
{{/if}}
